.main{
    color: black;
    width: 100%;
    height: 100%;
}
.titulo{
    font-size: 30px;
    padding: 20px 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: darkslateblue;
}
.bodyForm{
    width: 50%;
    height: 100%;
    margin: 10px auto;
    /*background-color: rgb(231, 230, 230);*/
    padding: 30px;
    border-radius: 20px;
}
.perguntas{
    font-size: 18px;
    margin-bottom: 20px;
}
.perguntas b{
    color: black;
    font-size: 18px;
}
.perguntas{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.perguntas input{
    width: 100%;
    outline: none;
    margin: 10px 0;
    border-bottom: 1px solid gray;
    padding: 10px 20px;
    border-radius: 10px 10px 0 0;
    background-color: white;
}
.lastInput{
    background-color: white;
}
.buttonConfirm{
    padding: 10px 20px;
    background-color: white;
    border: 2px solid #16c258;
    color: #074d21;
    border-radius: 10px;
    width: 150px;
    cursor: pointer;
    font-weight: bold;
    transition: .2s;
    display: flex;
    justify-content: space-between;
}
.buttonConfirm:hover{
    background-color: #16c258;
    color: white;
}


.curriculo{
    margin: 20px 0;
    display: flex;
    align-items: center;
}
.curriculo p{
    font-size: 25px;
    color: darkslateblue;
    margin-left: 10px;
}
.curriculo input{
    padding: 10px 20px;
    background-color: lightgray;
    cursor: pointer;
    border-radius: 5px;
}

.fileCV{
    padding: 10px 20px;
    background-color: lightgray;
    cursor: pointer;
    border-radius: 5px;
}



.fileInputWrapper {
    display: flex;
    justify-content: space-between;
    width: 250px;
    cursor: pointer;
    border: 2px solid darkslateblue;
    border-radius: 8px;
    padding: 10px 20px;
    background-color: white;
    color: darkslateblue;
    font-weight: bold;
    transition: .2s;
}
.fileInputWrapper:hover{
    background-color: darkslateblue;
    color: white;
}
@media(max-width: 1000px){
    .bodyForm{
        width: 80%;
    }
}
@media(max-width: 500px){
    .bodyForm{
        width: 90%;
    }
}
.returnHome{
    width: 120px;
    background-color: darkslateblue;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    cursor: pointer;
    color: white;
}