.main{
    color: black;
    width: 100%;
    height: 100%;
}
.titulo{
    font-size: 30px;
    padding: 20px 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: darkslateblue;
}
.bodyForm{
    width: 50%;
    height: 100%;
    margin: 10px auto;
}
.perguntas{
    font-size: 18px;
    margin-bottom: 20px;
}
.perguntas b{
    color: darkslateblue;
    font-size: 25px;
}
.perguntas{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.perguntas input{
    width: 100%;
    outline: none;
    margin: 10px 0;
    border-bottom: 1px solid gray;
    padding: 10px 20px;
    background-color: lightcyan;
    border-radius: 10px 10px 0 0;
}
.lastInput{
    background-color: white;
}
.bodyForm form button{
    padding: 10px 20px;
    background-color: #16c258;
    border-radius: 10px;
    width: 200px;
    cursor: pointer;
}


.curriculo{
    margin: 20px 0;
}
.curriculo p{
    font-size: 25px;
    color: darkslateblue;
}
.curriculo input{
    padding: 10px 20px;
    background-color: lightgray;
    cursor: pointer;
    border-radius: 5px;
}