.main{
    display: flex;
    flex-direction: column;
}
.buttonAddQuest{
    width: 200px;
    padding: 10px;
    background-color: darkslateblue;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px 20px;
}