.main{
    display: flex;
    flex-direction: column;
}
.buttonAddQuest{
    width: 200px;
    padding: 10px;
    background-color: darkslateblue;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px 20px;
}



.titulo{
    color: black;
    font-size: 30px;
    color: darkslateblue;
    margin: 20px auto;
}

.bodyVagas{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: black;
    margin: 0 auto;
}
.vaga{
    background-color: darkslateblue;
    padding: 20px;
    border: 1px solid darkslateblue;
    border-radius: 10px;
    color: white;
    height: 200px;
    display: flex;
    justify-content: start;
    margin: 8px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}


.vaga img{
    width: 150px;
    max-height: 150px;
}
.vaga .details{
    width: 250px;
}
.vaga .linha{
    display: flex;
    margin: 0px 0px 10px 20px;
}
.vaga .linha tr{
    margin-right: 10px;
}