.main{
    width: 100%;
    height: 100%;
    color: black;
}
.bodyInsert{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.navigation{
    position: fixed;
    top: 0;
    left: 0;
}

.bodyResult{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
}


.formGenerator{
    width: 50%;
    padding: 20px 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px 0;
}
.titulo2{
    font-size: 25px;
    padding: 0px 0px 20px 0px;
}
.descricao{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: start;
    margin-top: 10px;
}
.formGenerator label{
    padding: 10px 20px;
    font-size: 20px;
    color: rgb(35, 30, 68);
}
.formGenerator textarea{
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 10px;
    display: flex;
    max-height: 200px;
    min-height: 200px;
    border-radius: 10px;
    outline: none;
    background-color: rgb(243, 243, 243);
    border: 1px solid lightgray;
}
.formGenerator .input{
    width: 100%;
    padding: 12px 20px;
    border-radius: 10px;
    background-color: white;
    outline: none;
}
.formGenerator input:first-child{
    margin-right: 10px;
}


.fileInputWrapper {
    display: flex;
    justify-content: space-between;
    min-width: 250px;
    cursor: pointer;
    border: 2px solid darkslateblue;
    border-radius: 8px;
    padding: 10px 20px;
    background-color: white;
    color: darkslateblue;
    font-weight: bold;
    transition: .2s;
    margin-right: 10px;
}
.fileInputWrapper:hover{
    background-color: darkslateblue;
    color: white;
}


.formGenerator button{
    background-color: white;
    width: 160px;
    display: flex;
    justify-content: space-between;
    color: darkslateblue;
    padding: 10px 40px;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 20px;
    border: 2px solid darkslateblue;
    transition: .2s;
    margin-left: 10px;
    font-weight: 600;
}
.formGenerator button:hover{
    background-color: darkslateblue;
    color: white;
}

.titulo{
    font-size: 30px;
    padding: 20px 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: darkslateblue;
}
.Result{
    width: 50%;
    height: 100%;
    margin: 10px auto;
}

.pergunta{
    display: flex;
    margin: 10px 0;
}
.pergunta h1{
    color: darkslateblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    display: flex;
    width: 60px;
}
.pergunta p{
    font-size: 18px;
    margin: 10px 20px;
}

@media(max-width: 1000px){
    .formGenerator{
        width: 80%;
    }
    .Result{
        width: 80%;
    }
}
@media(max-width: 500px){
    .formGenerator{
        width: 100%;
    }
    .Result{
        width: 90%;
    }
}
.returnHome{
    width: 120px;
    background-color: darkslateblue;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    cursor: pointer;
    color: white;
}

.fileCV{
    width: 100%;
    padding: 12px 20px;
    border-radius: 10px;
    background-color: white;
    outline: none;
}
.quantCandidatos{
    width: 100%;
    background-color: white;
    padding: 12px 20px;
    border-radius: 10px;
    outline: none;
}