.main{
    width: 100%;
    height: 100%;
    color: black;
}
.bodyInsert{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    position: fixed;
    top: 0;
}
.bodyResult{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.formGenerator{
    background-color: rgb(226, 221, 221);
    width: 50%;
    padding: 20px;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.descricao{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: start;
    margin-top: 10px;
}
.formGenerator textarea{
    width: 100%;
    padding: 10px 20px;
    background-color: white;
    display: flex;
    max-height: 60px;
    min-height: 60px;
    border-radius: 10px;
    outline: none;
}
.fileCV{

}
.fileInputWrapper {
    display: flex;
    justify-content: space-between;
    width: 250px;
    cursor: pointer;
    border: 2px solid darkslateblue;
    border-radius: 8px;
    padding: 10px 20px;
    background-color: white;
    color: darkslateblue;
    font-weight: bold;
    transition: .2s;
}
.fileInputWrapper:hover{
    background-color: darkslateblue;
    color: white;
}


.formGenerator button{
    background-color: white;
    color: darkslateblue;
    padding: 10px 40px;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 20px;
    border: 2px solid darkslateblue;
    transition: .2s;
    margin-left: 10px;
}
.formGenerator button:hover{
    background-color: darkslateblue;
    color: white;
}

.titulo{
    font-size: 30px;
    padding: 20px 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: darkslateblue;
}
.Result{
    width: 50%;
    height: 100%;
    margin: 10px auto;
}

.pergunta{
    display: flex;
    margin: 10px 0;
}
.pergunta h1{
    color: darkslateblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    display: flex;
    width: 60px;
}
.pergunta p{
    font-size: 18px;
    margin: 10px 20px;
}

@media(max-width: 1000px){
    .formGenerator{
        width: 80%;
    }
    .Result{
        width: 80%;
    }
}
@media(max-width: 500px){
    .formGenerator{
        width: 100%;
    }
    .Result{
        width: 90%;
    }
}